name: Update Item Cache

on:
    schedule:
        - cron: '0 0 * * 0'  # Runs every Sunday at midnight
    workflow_dispatch: # Allows manual triggering of the workflow
        

jobs:
    build-runelite:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5
              with:
                repository: 'runelite/runelite'
                ref: 'master'
                path: ./runelite
            - name: Setup Java 11
              uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '11'
                  cache: 'maven'
            - name: Build RuneLite
              run: |
                  cd runelite
                  mvn clean package -DskipTests
            - run: mkdir staging && cp runelite/runelite-client/target/client-*-shaded.jar staging
            - uses: actions/upload-artifact@v4
              with:
                name: RuneLite-Build
                path: staging
            - run: java -jar staging/client-*-shaded.jar --cache