name: Update Item Cache

on:
    schedule:
        - cron: '0 0 * * 0'  # Runs every Sunday at midnight
    workflow_dispatch: # Allows manual triggering of the workflow
        

jobs:
    build-runelite:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Wasp Data repository
              uses: actions/checkout@v5
            - name: Checkout RuneLite repository
              uses: actions/checkout@v5
              with:
                repository: 'runelite/runelite'
                ref: 'master'
                path: ./runelite
            - name: Setup Java 11
              uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '11'
            - name: Cache local Maven repository
              uses: actions/cache@v4
              with:
                  path: ~/.m2/repository
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                    ${{ runner.os }}-maven-
            - name: Copy SimbaItemDumper.java
              run: |
                  cp tools/dumpers/SimbaItemDumper.java runelite/cache/src/main/java/net/runelite/cache/SimbaItemDumper.java
            - name: Build RuneLite
              run: |
                  cd runelite
                  mvn clean package -DskipTests
            - name: Copy built client jar
              run: |
                  mkdir staging
                  cp runelite/cache/target/*.jar staging
                  cp runelite/runelite-client/target/*.jar staging
            # - uses: actions/upload-artifact@v4
            #   with:
            #     name: RuneLite-Build
            #     path: staging
            - name: OpenRS2 Cache download
              run : |
                  mkdir -p cache/input
                  curl -L -o cache.zip https://archive.openrs2.org/caches/runescape/2349/disk.zip
                  unzip -o cache.zip -d cache/input
                  curl -L -o cache/input/keys.json https://archive.openrs2.org/caches/runescape/2349/keys.json           
            - name: Run SimbaItemDumper
              run: |
                mkdir -p cache/output
                java -cp staging/runelite-*.shaded.jar -cp staging/cache-*.jar -cp cache net.runelite.cache.SimbaItemDumper -cachedir cache/input -cachename cache -outputdir cache/output