name: Update Item Cache

on:
    workflow_dispatch: # Allows manual triggering of the workflow
    push:
        paths:
            - 'cache_version'
        branches: 
            - main
        

jobs:
    build-runelite:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Wasp Data repository
              uses: actions/checkout@v5
            - name: Checkout RuneLite repository
              uses: actions/checkout@v5
              with:
                repository: 'Torwent/runelite'
                ref: 'main'
                path: ./runelite
            # - name: Checkout RuneLite repository
            #   uses: actions/checkout@v5
            #   with:
            #     repository: 'Torwent/runelite'
            #     ref: 'main'
            #     path: ./torwent-runelite
            - name: Setup Java 11
              uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '11'
            - name: Cache local Maven repository
              uses: actions/cache@v4
              with:
                  path: ~/.m2/repository
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                    ${{ runner.os }}-maven-
            - name: Read cache version
              id: cache-version
              run: echo "VERSION=$(cat cache_version)" >> $GITHUB_OUTPUT
            # - name: Copy SimbaItemDumper.java
            #   run: |
            #       cp torwent-runelite/cache/src/main/java/net/runelite/cache/Simba*.java runelite/cache/src/main/java/net/runelite/cache/
            - name: Build RuneLite
              run: |
                  cd runelite/cache
                  mvn clean package -DskipTests
            - name: Cache OpenRS2 files
              uses: actions/cache@v4
              id: cache-openrs2
              with:
                path: |
                  cache.zip
                  keys.json
                key: openrs2-cache-${{ steps.cache-version.outputs.VERSION }}
            - name: OpenRS2 Cache download
              if: steps.cache-openrs2.outputs.cache-hit != 'true'
              run : |
                  mkdir -p cache/input
                  curl -L -o cache.zip https://archive.openrs2.org/caches/runescape/${{ steps.cache-version.outputs.VERSION }}/disk.zip
                  unzip -o cache.zip -d cache/input/${{ steps.cache-version.outputs.VERSION }}
                  curl -L -o keys.json https://archive.openrs2.org/caches/runescape/${{ steps.cache-version.outputs.VERSION }}/keys.json
                  mv keys.json cache/input/${{ steps.cache-version.outputs.VERSION }}/${{ steps.cache-version.outputs.VERSION }}.json
            - name: Extract cached zip if needed
              if: steps.cache-openrs2.outputs.cache-hit == 'true'
              run: |
                  mkdir -p cache/input
                  unzip -o cache.zip -d cache/input/${{ steps.cache-version.outputs.VERSION }}
                  mv keys.json cache/input/${{ steps.cache-version.outputs.VERSION }}/${{ steps.cache-version.outputs.VERSION }}.json
            - name: Run SimbaItemDumper
              run: |
                mkdir -p cache/output
                cd runelite/cache
                mvn -q org.codehaus.mojo:exec-maven-plugin:3.1.0:java \
                  -Dexec.mainClass=net.runelite.cache.SimbaItemDumper \
                  -Dexec.classpathScope=compile \
                  -Dexec.args="--cachedir ../../cache/input --cachename ${{ steps.cache-version.outputs.VERSION }} --outputdir ../../cache/output"
            - name: Run SimbaCacheDumper
              run: |
                mkdir -p cache/output
                cd runelite/cache
                mvn -q org.codehaus.mojo:exec-maven-plugin:3.1.0:java \
                  -Dexec.mainClass=net.runelite.cache.SimbaCacheDumper \
                  -Dexec.classpathScope=compile \
                  -Dexec.args="--cachedir ../../cache/input --cachename ${{ steps.cache-version.outputs.VERSION }} --outputdir ../../cache/output"
            # - uses: actions/upload-artifact@v4
            #   with:
            #     name: Items
            #     path: cache/output/${{ steps.cache-version.outputs.VERSION }}/items